<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Henrique Sartori - Full Stack Developer</title>
		<link rel="shortcut icon" href="/portfolio/henrique.jpeg" type="image/jpeg">
	</head>
	<body class="bg-base-300 pt-32">
		<slot />
		<section class="mt-32 pb-6 text-center">
			<p class="opacity-70 text-xs">
				Copyright &copy; 2025 Henrique Sartori. All rights reserved.
			</p>
		</section>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
	}
</style>
